tornado==6.2
numpy==1.23.1
opencv_python==4.6.0.66
onnxruntime==1.12.0
Shapely==1.8.2
pyclipper==1.3.0.post3
Pillow==9.2.0
coloredlogs==15.0.1
flatbuffers==2.0
humanfriendly==10.0
mpmath==1.2.1
packaging==21.3
pyparsing==3.0.9
pyreadline3==3.4.1
sympy==1.10.1
